<%
  const TITLENAME = 'Dark Theme';
  const TITLE = htmlWebpackPlugin.options.title !== 'Webpack App' ? htmlWebpackPlugin.options.title : TITLENAME;
  const COPYRIGHT = 'Copyright © Company.com. All rights resvrved.';
  const fileName = /(.*)(?=\.html$)/.exec(htmlWebpackPlugin.options.filename)[1];
  const isMobile = /^mobile/.test(fileName);
  const isBlank = htmlWebpackPlugin.options.blank;
  const navs = [{
    name: 'Home',
    icon: 'home',
    href: `../${isMobile ? 'mobile/' : ''}index.html`,
    value: 'home',
    group: 'nav'
  }, {
    name: 'Sports',
    href: `../${isMobile ? 'mobile/' : ''}sports.html`,
    value: 'sports',
    group: 'nav'
  }, {
    name: 'Virtual Sports',
    href: `../${isMobile ? 'mobile/' : ''}virtualSports.html`,
    value: 'virtualSports',
    group: 'nav'
  }, {
    name: 'Live Casion',
    href: `../${isMobile ? 'mobile/' : ''}liveCasion.html`,
    value: 'liveCasion',
    group: 'nav'
  }, {
    name: 'Games',
    href: `../${isMobile ? 'mobile/' : ''}games.html`,
    value: 'games',
    group: 'nav'
  }, {
    name: 'Promotions',
    href: `../${isMobile ? 'mobile/' : ''}promotions.html`,
    value: 'promotions',
    group: 'nav'
  }, {
    name: 'Login',
    href: `../${isMobile ? 'mobile/' : ''}singIn.html`,
    value: 'login',
    group: 'navTools'
  }, {
    name: 'Sign Up',
    href: `../${isMobile ? 'mobile/' : ''}register.html`,
    value: 'register',
    group: 'navTools'
  }, {
    name: 'Account',
    value: 'account',
    subNavs: [{
      name: 'Account',
      href: `../${isMobile ? 'mobile/' : ''}account.html`,
      value: 'index',
    }, {
      name: 'Profile',
      href: `../${isMobile ? 'mobile/' : ''}profile.html`,
      value: 'profile',
      lastNavs: [{
        name: 'Change Password',
        href: `../${isMobile ? 'mobile/' : ''}changePassword.html`,
        value: 'changePassword'
      }]
    }, {
      name: 'My Bets',
      value: 'bets',
      lastNavs: [{
        name: 'My Bets',
        href: `../${isMobile ? 'mobile/' : ''}betsRunning.html`,
        value: 'running'
      }, {
        name: 'My Bets',
        href: `../${isMobile ? 'mobile/' : ''}betsSettled.html`,
        value: 'settled'
      }]
    }, {
      name: 'Balance',
      href: `../${isMobile ? 'mobile/' : ''}balance.html`,
      value: 'balance'
    }, {
      name: 'Statement',
      href: `../${isMobile ? 'mobile/' : ''}statement.html`,
      value: 'statement'
    }, {
      name: 'My Promotion',
      href: `../${isMobile ? 'mobile/' : ''}myPromotion.html`,
      value: 'myPromotion'
    }, {
      name: 'Referral',
      href: `../${isMobile ? 'mobile/' : ''}referral.html`,
      value: 'referral'
    }],
    group: 'navTools'
  }, {
    name: 'Deposit',
    value: 'deposit',
    subNavs: [{
      name: 'Transaction',
      href: `../${isMobile ? 'mobile/' : ''}transaction.html`,
      value: 'transaction'
    }, {
      name: 'Deposit',
      href: `../${isMobile ? 'mobile/' : ''}deposit.html`,
      value: 'deposit'
    }, {
      name: 'Withdrawal',
      href: `../${isMobile ? 'mobile/' : ''}withdrawal.html`,
      value: 'withdrawal'
    }, {
      name: 'Transaction History',
      href: `../${isMobile ? 'mobile/' : ''}history.html`,
      value: 'history'
    }],
    group: 'navTools'
  }, {
    name: 'Contact',
    href: `../${isMobile ? 'mobile/' : ''}contact.html`,
    value: 'contact',
    group: 'toolbar'
  }];
  const urlFuns = {
    name: (channel, subChannel, lastChannel) => {
      let NAME = null;

      navs.forEach(nav => {
        if (nav.value === channel) {
          if (!subChannel) {
            NAME = nav.name;
          } else {
            nav.subNavs.forEach(subNav => {
              if (subNav.value === subChannel) {
                if (!lastChannel) {
                  NAME = subNav.name;
                } else {
                  subNav.lastNavs.forEach(lastNav => {
                    if (lastNav.value === lastChannel) {
                      NAME = lastNav.name;
                    }
                  });
                }
              }
            });
          }
        }
      });

      return NAME;
    },
    page: (channel, subChannel, lastChannel) => {
      let URL = null;

      navs.forEach(nav => {
        if (nav.value === channel) {
          if (!subChannel) {
            URL = nav.href;
          } else {
            nav.subNavs.forEach(subNav => {
              if (subNav.value === subChannel) {
                if (!lastChannel) {
                  URL = subNav.href;
                } else {
                  subNav.lastNavs.forEach(lastNav => {
                    if (lastNav.value === lastChannel) {
                      URL = lastNav.href;
                    }
                  });
                }
              }
            });
          }
        }
      });

      return URL;
    }
  };
  const reqFile = require('../'+ fileName +'.ejs')({
    htmlWebpackPlugin : htmlWebpackPlugin,
    urlFuns: urlFuns,
    isMobile: isMobile
  });
-%>

<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="timestamp">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta property="og:title" content="<%- TITLE %>">
    <meta property="og:description" name="description" content="<%- htmlWebpackPlugin.options.description ? htmlWebpackPlugin.options.description : '' %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%- process.env.APP_ENV === 'bulid' ? '/' : 'https://f2e.sugarfun.com.tw/Transglobe/Consultant/' %>">
    <meta property="og:image" content="<%- `${process.env.APP_ENV === 'bulid' ? '/' : 'https://f2e.sugarfun.com.tw/Transglobe/Consultant/'}static/img/fb.png` %>">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:site_name" content="<%- TITLE %>">
    <title><%- TITLE %></title>
    <link rel="shortcut icon" type="image/x-icon" href="<%- `${process.env.APP_ENV === 'bulid' ? '/' : ''}static/img/favicon.ico` %>">
    <link rel="canonical" href="">
  </head>
  <body class="bg-x001e text-xf">
    <div class="l-wrap <%- !isMobile ? 'text-14' : 'pb-68 text-12' %> jWrap">
      <% if ( !isBlank ) { -%>
        <header class="l-hd relative">
          <h1 class="sr-only"><%- TITLE %></h1>
          <div class="m-hd <%- !isMobile ? '' : 'p-12' %> flex items-center max-cnt">
            <div class="m-hd-logo <%- !isMobile ? 'mr-32 flex-shrink-0' : 'flex-grow' %>">
              <%- require('component/img.ejs')({
                style: {
                  main: `m-hd-logo-fig ${ !isMobile ? 'w-160 h-32' : 'w-100 h-20' }`
                },
                path: require('common/logo.svg'),
                alt: TITLE
              }) %>
            </div>
            <% if( !isMobile ) { -%>
              <nav class="m-nav flex-grow overflow-hidden jNav">
                <ul class="m-nav-menu -mx-12 flex items-center">
                  <% for(let i = 0; i < navs.length; i += 1) { -%>
                    <% const { name, icon, href, value, group } = navs[i]; -%>
                    <% if ( group === 'nav' ) { -%>
                      <li class="m-nav-item<%- htmlWebpackPlugin.options.action === value ? ' active' : '' %> px-12 text-x88a1 hover:text-xfb2e transition-color jNavItem">
                        <a href="<%- href ? href : subNavs[0].href %>" class="py-20 h-24 box-content flex flex-col justify-center relative">
                          <% if ( icon ) { -%>
                            <%- require('component/svg.ejs')({
                              style: {
                                main: 'm-nav-svg w-24 h-24'
                              },
                              svgName: icon
                            }) %>
                          <% } else { -%>
                            <strong><%- name %></strong>
                          <% } -%>
                        </a>
                        <% if ( value !== 'home' ) { -%>
                          <!-- 以下結構為有子選單時才出現 -->
                          <div class="m-nav-sub left-0 w-full bg-x3368 overflow-hidden transition-max-h absolute z-1">
                            <ul class="-mx-8 py-32 max-cnt flex items-center">
                              <%
                                const navSub = [{
                                  img: 'https://i.pinimg.com/originals/57/8b/b5/578bb58151c729e3195b738b0d121169.jpg'
                                }, {
                                  img: 'https://api2-mj3.tr8ngames.com/images/id_cbd_07e22c9e-935f-4692-b336-8ab43fc04888_1621928172590.jpg'
                                }, {
                                  img: 'https://howto-sbobet.com/wp-content/uploads/2017/05/Cover-SicBo.jpg'
                                }];
                              -%>
                              <% for( let j = 0; j < navSub.length; j += 1 ) { -%>
                                <% const { img } = navSub[j]; -%>
                                <li class="m-nav-sub-item px-8 w-2/12 h-110">
                                  <a href="javascript:;" class="block w-full h-full text-center rounded-8 overflow-hidden border-1 border-solid border-x88a1 hover:border-xfb2e transition-border-color" target="_balnk" rel="noopener">
                                    <%- require('component/img.ejs')({
                                      style: {
                                        main: 'left-1/2 w-2full h-full translate-x-1/2 relative',
                                        img: 'w-auto h-full inline-block'
                                      },
                                      path: img,
                                      alt: 'Game'
                                    }) %>
                                  </a>
                                </li>
                              <% } -%>
                            </ul>
                          </div>
                        <% } -%>
                      </li>
                    <% } -%>
                  <% } -%>
                </ul>
              </nav>
            <% } -%>
            <div class="m-hd-tools flex-shrink-0">
              <% if( !isMobile ) { -%>
                <!-- 尚未登入 -->
                <!-- <ul class="flex items-center space-x-16">
                  <li>
                    <%- require('component/mDropdown.ejs')({
                      style: {
                        main: 'jDropLang'
                      },
                      ctrlImg: {
                        path: require('common/lang_english.svg'),
                        alt: 'English'
                      },
                      options: [[{
                        name: 'English',
                        data: {
                          flag: require('common/lang_english.svg')
                        }
                      }, {
                        name: '简体中文',
                        data: {
                          flag: require('common/lang_china.svg')
                        }
                      }, {
                        name: 'Indonesia',
                        data: {
                          flag: require('common/lang_indonesia.svg')
                        }
                      }, {
                        name: '한국어',
                        data: {
                          flag: require('common/lang_korea.svg')
                        }
                      }, {
                        name: 'Bahasa Melayu',
                        data: {
                          flag: require('common/lang_bahasaMelayu.svg')
                        }
                      }, {
                        name: '日本語',
                        data: {
                          flag: require('common/lang_japan.svg')
                        }
                      }]]
                    }) %>
                  </li>
                  <li>
                    <a href="<%- urlFuns.page('login') %>">
                      <b><%- urlFuns.name('login') %></b>
                    </a>
                  </li>
                  <li>
                    <a href="<%- urlFuns.page('register') %>" class="m-btn bg-x3c6e">
                      <b class="px-2 inline-block"><%- urlFuns.name('register') %></b>
                    </a>
                  </li>
                </ul> -->
                <!-- 已登入 -->
                <ul class="flex items-center space-x-16">
                  <li>
                    <%- require('component/mDropdown.ejs')({
                      style: {
                        main: 'jDropLang'
                      },
                      ctrlImg: {
                        path: require('common/lang_english.svg'),
                        alt: 'English'
                      },
                      options: [[{
                        name: 'English',
                        data: {
                          flag: require('common/lang_english.svg')
                        }
                      }, {
                        name: '简体中文',
                        data: {
                          flag: require('common/lang_china.svg')
                        }
                      }, {
                        name: 'Indonesia',
                        data: {
                          flag: require('common/lang_indonesia.svg')
                        }
                      }, {
                        name: '한국어',
                        data: {
                          flag: require('common/lang_korea.svg')
                        }
                      }, {
                        name: 'Bahasa Melayu',
                        data: {
                          flag: require('common/lang_bahasaMelayu.svg')
                        }
                      }, {
                        name: '日本語',
                        data: {
                          flag: require('common/lang_japan.svg')
                        }
                      }]]
                    }) %>
                  </li>
                  <li>
                    <%- require('component/mDropdown.ejs')({
                      ctrlText: 'evonne3301',
                      options: [[{
                        name: urlFuns.name('account', 'profile'),
                        href: urlFuns.page('account', 'profile')
                      }, {
                        name: urlFuns.name('account', 'bets', 'running'),
                        href: urlFuns.page('account', 'bets', 'running')
                      }, {
                        name: urlFuns.name('deposit', 'history'),
                        href: urlFuns.page('deposit', 'history')
                      }, {
                        name: urlFuns.name('account', 'statement'),
                        href: urlFuns.page('account', 'statement')
                      }, {
                        name: urlFuns.name('account', 'myPromotion'),
                        href: urlFuns.page('account', 'myPromotion')
                      }, {
                        name: urlFuns.name('account', 'referral'),
                        href: urlFuns.page('account', 'referral')
                      }], [{
                        name: 'Sign Out'
                      }]]
                    }) %>
                  </li>
                  <li class="flex items-center">
                    <p class="mr-4"><b>TMP 1,099.78</b></p>
                    <button type="button" class="text-x88a1">
                      <%- require('component/svg.ejs')({
                        style: {
                          main: 'm-hd-svg w-12 h-12'
                        },
                        svgName: 'refresh'
                      }) %>
                    </button>
                  </li>
                  <li>
                    <a href="<%- urlFuns.page('deposit', 'deposit') %>" class="m-btn --green">
                      <b class="px-2 inline-block"><%- urlFuns.name('deposit', 'deposit') %></b>
                    </a>
                  </li>
                </ul>
              <% } else { -%>
                <!-- 尚未登入 -->
                <!-- <ul class="-mx-4 flex items-center">
                  <li class="px-4">
                    <a href="<%- urlFuns.page('login') %>" class="m-btn --blue">
                      <b class="px-4 block text-14"><%- urlFuns.name('login') %></b>
                    </a>
                  </li>
                  <li class="px-4">
                    <a href="<%- urlFuns.page('register') %>" class="m-btn --green">
                      <b class="px-4 block text-14"><%- urlFuns.name('register') %></b>
                    </a>
                  </li>
                </ul> -->
                <!-- 已登入 -->
                <div class="overflow-hidden">
                  <ul class="-mx-2 flex items-center">
                    <li class="px-2">
                      <div class="m-amount py-2 pr-8 pl-2 flex items-center flex-row-reverse rounded-10 bg-x3368 jAmount">
                        <p class="text-12 flex items-center">
                          <em class="not-italic block">TMP</em>
                          <span class="m-amount-number ml-4 block">1099.97</span>
                        </p>
                        <button type="button" class="m-amount-btn mr-4 w-16 h-16 text-x0030 rounded-8 flex items-center justify-center bg-xf overflow-hidden jAmountCtrl">
                          <%- require('component/svg.ejs')({
                            style: {
                              main: `w-12 h-12`
                            },
                            svgName: 'eye-open'
                          }) %>
                          <%- require('component/svg.ejs')({
                            style: {
                              main: `w-12 h-12`
                            },
                            svgName: 'eye-close'
                          }) %>
                        </button>
                      </div>
                    </li>
                    <li class="px-2">
                      <button type="button" class="block text-x88a1">
                        <%- require('component/svg.ejs')({
                          style: {
                            main: 'm-hd-svg w-12 h-12'
                          },
                          svgName: 'refresh'
                        }) %>
                      </button>
                    </li>
                  </ul>
                </div>
              <% } -%>
            </div>  
          </div>
          <div class="m-notice bg-x1241">
            <div class="m-notice-bd <%- !isMobile ? 'py-10' : 'py-8 pr-12' %> flex items-center max-cnt relative">
              <div class="m-notice-info whitespace-no-wrap text-xf-70 flex-grow overflow-hidden jMarquee">
                <p class="m-notice-text inline-block jMarqueeTxt">Dear Valued Customers, 120% Welcome bonus is Not able to Claim with ATM Deposit anymore, we apologise for any inconvenience caused.</p>
              </div>
              <% if( !isMobile ) { -%>
                <time class="m-notice-time ml-16 pl-16 text-12 text-x88a1 flex-shrink-0 relative">2021/08/10 15:46:54PM GMT+8</time>
              <% } -%> 
            </div>
          </div>
        </header>
      <% } -%>
      <main class="l-main">
        <div class="l-cnt">
          <%- reqFile %>
        </div>
      </main>
      <% if ( !isBlank ) { -%>
        <% if( !isMobile ) { -%>
          <footer class="l-ft mt-100 pb-32 bg-x0030">
            <div class="m-ft max-cnt">
              <div class="m-ft-sitemap py-32">
                <ul class="flex items-center">
                  <%
                    const sitemap = [{
                      title: 'Products',
                      items: [{
                        name: urlFuns.name('sports'),
                        href: urlFuns.page('sports')
                      }, {
                        name: urlFuns.name('virtualSports'),
                        href: urlFuns.page('virtualSports')
                      }, {
                        name: urlFuns.name('liveCasino'),
                        href: urlFuns.page('liveCasino')
                      }, {
                        name: urlFuns.name('games'),
                        href: urlFuns.page('games')
                      }]
                    }, {
                      title: 'About Us',
                      items: [{
                        name: 'Corporate'
                      }, {
                        name: 'News'
                      }, {
                        name: urlFuns.name('promotioms'),
                        href: urlFuns.page('promotioms')
                      }, {
                        name: 'Affiliates'
                      }, {
                        name: 'Why Choose Company'
                      }]
                    }, {
                      title: 'Policies',
                      items: [{
                        name: 'Responsible Gambling'
                      }, {
                        name: 'Terms & Conditons'
                      }, {
                        name: 'Privacy Policy'
                      }]
                    }, {
                      title: 'Help & Support',
                      items: [{
                        name: 'Contact us'
                      }, {
                        name: 'FAQ'
                      }, {
                        name: 'Betting Rules & Regulations'
                      }, {
                        name: 'Payment Options'
                      }]
                    }]
                  -%>
                  <% for( let i = 0; i < sitemap.length; i += 1 ) { -%>
                    <% const { title, items } = sitemap[i]; -%>
                    <li class="px-8 flex-1">
                      <p class="mb-16 text-xf"><b><%- title %></b></p>
                      <ul class="space-y-12">
                        <% for( let j = 0; j < items.length; j += 1 ) { -%>
                          <% const { name, href } = items[j]; -%>
                          <li>
                            <a href="<%- href ? href : 'javascript:;' %>" class="text-x88a1">
                              <em class="not-italic"><%- name %></em>
                            </a>
                          </li>
                        <% } -%>
                      </ul>
                    </li>
                  <% } -%>
                </ul>
              </div>
              <div class="m-ft-sponsor py-32 text-center border-t-1 border-solid border-x1241 overflow-hidden">
                <ul class="-mx-8 inline-flex items-center">
                  <%
                    const sponsor =[{
                      name: 'BCA',
                      img: 'static/img/fake/logo_bca.svg'
                    }, {
                      name: 'mandiri',
                      img: 'static/img/fake/logo_mandiri.svg'
                    }, {
                      name: 'BNI',
                      img: 'static/img/fake/logo_BNI.svg'
                    }, {
                      name: 'BANK BRI',
                      img: 'static/img/fake/logo_BANKBRI.svg'
                    }, {
                      name: 'CIMB BANK',
                      img: 'static/img/fake/logo_CIMBBank.svg'
                    }]
                  -%>
                  <% for( let i = 0; i < sponsor.length; i += 1 ) { -%>
                    <% const { name, img } = sponsor[i]; -%>
                    <li class="px-8">
                      <%- require('component/img.ejs')({
                        style: {
                          main: 'm-ft-sponsor-fig h-20',
                          img: 'h-full'
                        },
                        path: img,
                        alt: name
                      }) %>
                    </li>
                  <% } -%>
                </ul>
              </div>
              <div class="m-ft-social pt-32 text-center border-t-1 border-solid border-x1241">
                <ul class="-mx-8 inline-flex items-center">
                  <%
                    const social = [{
                      name: 'facebook',
                      img: require('common/facebook.svg')
                    }, {
                      name: 'twitter',
                      img: require('common/twitter.svg')
                    }, {
                      name: 'instagram',
                      img: require('common/instagram.svg')
                    }]
                  -%>
                  <% for(let i = 0; i < social.length; i += 1 ) { -%>
                    <% const { name, img } = social[i]; %>
                    <li class="px-8">
                      <a href="javascript:;" target="_blank" rel="noopener">
                        <%- require('component/img.ejs')({
                          style: {
                            main: 'm-ft-social-fig w-24 h-24'
                          },
                          path: img,
                          alt: name
                        }) %>
                      </a>
                    </li>
                  <% } -%>
                </ul>
              </div>
              <small class="mt-16 block text-center text-x88a1"><%- COPYRIGHT %></small>
            </div>
          </footer>
        <% } -%>
      <% } -%>
      <% if( isMobile ) { -%>
        <div class="l-toolbar h-52 bottom-0 left-0 w-full bg-x1241 flex flex-col justify-center fixed">
          <div class="m-toolbar">
            <ul class="flex items-center">
              <%
                const toolbar = [{
                  name: urlFuns.name('home'),
                  icon: 'home',
                  href: urlFuns.page('home'),
                  show: (htmlWebpackPlugin.options.action !== 'home' && htmlWebpackPlugin.options.action !== 'sports'  && htmlWebpackPlugin.options.action !== 'virtualSports'  && htmlWebpackPlugin.options.action !== 'liveCasion'),
                  value: 'home'
                }, {
                  name: urlFuns.name('promotions'),
                  icon: 'gift',
                  href: urlFuns.page('promotions'),
                  show: (htmlWebpackPlugin.options.action === 'home' || htmlWebpackPlugin.options.action === 'sports'  || htmlWebpackPlugin.options.action === 'virtualSports'  || htmlWebpackPlugin.options.action === 'liveCasion'),
                  value: 'promotions'
                }, {
                  name: urlFuns.name('account', 'statement'),
                  icon: 'wallet',
                  href: urlFuns.page('account', 'statement'),
                  show: true,
                  value: 'statement'
                }, {
                  name: urlFuns.name('deposit', 'transaction'),
                  icon: 'money',
                  href: urlFuns.page('deposit', 'transaction'),
                  show: true,
                  value: 'transaction'
                }, {
                  name: urlFuns.name('contact'),
                  icon: 'hearmic',
                  href: urlFuns.page('contact'),
                  show: true,
                  value: 'contact'
                }, {
                  name: urlFuns.name('account', 'index'),
                  icon: 'person',
                  href: urlFuns.page('account', 'index'),
                  show: true,
                  value: 'account'
                }]
              -%>
              <% for( let i = 0; i < toolbar.length; i += 1 ) { -%>
                <% const { name, icon, href, show, value } = toolbar[i]; -%>
                <% if ( show ) { -%>
                  <li class="text-center flex-1">
                    <a href="<%- href %>" class="<%- htmlWebpackPlugin.options.action === value ? 'text-xfb2e' : 'text-x88a1' %> inline-flex items-center flex-col-reverse">
                      <em class="mt-4 not-italic block"><%- name %></em>
                      <%- require('component/svg.ejs')({
                        style: {
                          main: 'w-20 h-20'
                        },
                        svgName: icon
                      }) %>
                    </a>
                  </li>
                <% } -%>
              <% } -%>
            </ul>
          </div>
        </div>
      <% } -%>
    </div>
    <% if( !isMobile ) { -%>
      <%- require('container/mNSup.ejs')({
        cRight: COPYRIGHT,
        ieVersion: process.env.IE_VERSION
      }) %>
    <% } -%>
  </body>
</html>