<%- require('component/mPageHeader.ejs')({
  bgGradient: true,
  title: urlFuns.name('account', 'account'),
  href: urlFuns.page('home')
}) %>
<div class="px-16">
  <div class="p-20 flex flex-row-reverse items-center bg-x1241 rounded-8">
    <ul class="space-y-8 flex-grow">
      <li>
        <a href="<%- urlFuns.page('login') %>">
          <b class="text-14">Sign In</b>
        </a>
      </li>
    </ul>
    <div class="mr-16 w-48 h-48 rounded-1/2 overflow-hidden flex-shrink-0">
      <%- require('component/img.ejs')({
        style: {
          main: 'w-48 h-48 relative',
          img: 'w-auto h-full'
        },
        path: require('account/default_photo.svg'),
        alt: 'WJ18956344'
      }) %>
    </div>
  </div>
  <ul class="list mt-20 px-16 bg-x1241 rounded-8">
    <% const lists = [{
      name: urlFuns.name('account', 'profile'),
      icon: 'person',
      href: urlFuns.page('account', 'profile')
    }, {
      name: urlFuns.name('account', 'bets'),
      icon: 'list_check',
      href: urlFuns.page('account', 'bets', 'running')
    }, {
      name: urlFuns.name('account', 'balance'),
      icon: 'wallet_s',
      href: urlFuns.page('account', 'balance')
    }, {
      name: urlFuns.name('account', 'myPromotion'),
      icon: 'gift_s',
      href: urlFuns.page('account', 'myPromotion')
    }, {
      name: urlFuns.name('account', 'profile', 'changePassword'),
      icon: 'locked',
      href: urlFuns.page('account', 'profile', 'changePassword')
    }, {
      name: urlFuns.name('account', 'referral'),
      icon: 'groups',
      href: urlFuns.page('account', 'referral')
    }] -%>
    <% for( let i = 0; i < lists.length; i += 1 ) { -%>
      <% const { name, icon, href } = lists[i]; -%>
      <li class="list-item">
        <a href="<%- href %>" class="py-16 flex items-center">
          <p class="flex flex-row-reverse items-center flex-grow">
            <b class="ml-8 text-14 block flex-grow"><%- name %></b>
            <%- require('component/svg.ejs')({
              style: {
                main: 'w-20 h-20 flex-shrink-0',
              },
              svgName: icon
            }) %>
          </p>
          <%- require('component/svg.ejs')({
            style: {
              main: 'w-20 h-20 flex-shrink-0',
            },
            svgName: 'arrow_chevron_right'
          }) %>
        </a>
      </li>
    <% } -%>
  </ul>
  <div class="lang mt-16 bg-x1241 rounded-8 jLang">
    <button type="button" class="langCtrl p-16 w-full text-left flex items-center jLangCtrl">
      <div class="flex items-center flex-grow">
        <%- require('component/img.ejs')({
            style: {
              main: 'mr-8 w-20 h-20 rounded-1/2 bg-xf overflow-hidden flex-shrink-0 jLangFlag',
            },
            path: require('common/lang_english.svg'),
            alt: 'English'
          }) %>
        <b class="text-14 block flex-grow jLangTxt">English</b>
      </div>
      <%- require('component/svg.ejs')({
        style: {
          main: 'w-20 h-20 flex-shrink-0 transition-transform',
        },
        svgName: 'arrow_chevron_right'
      }) %>
    </button>
    <div class="langBd overflow-hidden transition-max-h jLangBd">
      <ul>
        <% const langs = [{
          name: 'English',
          img: require('common/lang_english.svg')
        }, {
          name: '简体中文',
          img: require('common/lang_china.svg')
        }, {
          name: 'Indonesia',
          img: require('common/lang_indonesia.svg')
        }, {
          name: '한국어',
          img: require('common/lang_korea.svg')
        }, {
          name: 'Bahasa Melayu',
          img: require('common/lang_bahasaMelayu.svg')
        }, {
          name: '日本語',
          img: require('common/lang_japan.svg')
        }] -%>
        <% for (let i = 0; i < langs.length; i+=1) { -%>
          <% const { name, img } = langs[i]; -%>
          <li>
            <button type="button" class="p-16 w-full text-left jLangBtn">
              <div class="flex items-center flex-grow">
                <%- require('component/img.ejs')({
                    style: {
                      main: 'mr-8 w-20 h-20 rounded-1/2 bg-xf overflow-hidden flex-shrink-0 jLangFlag',
                    },
                    path: img,
                    alt: name
                  }) %>
                <b class="text-14 block flex-grow jLangTxt"><%- name %></b>
              </div>
            </button>
          </li>
        <% } -%>
      </ul>
    </div>
  </div>
</div>