<%- require('component/mPageHeader.ejs')({
  title: urlFuns.name('account', 'statement'),
  href: urlFuns.page('account', 'statement')
}) %>
<div class="mt-24 px-16">
  <div class="tab">
    <div class="tab-hd overflow-hidden">
      <ul class="-mx-6 flex items-center">
        <%
          const tabs = [{
            name: '08/01 ~ 08/31',
            href: urlFuns.page('account', 'statement')
          }, {
            name: '09/01 ~ 09/30',
            href: urlFuns.page('account', 'statement')
          }, {
            name: '10/01 ~ 10/08',
            href: urlFuns.page('account', 'statement')
          }]
        -%>
        <% for( let i = 0; i < tabs.length; i += 1 ) { -%>
          <% const { name, href } = tabs[i]; -%>
          <li class="tab-item<%- i === 0 ? ' active' : '' %> px-6 w-1/3">
            <a href="<%- href %>" class="tab-button py-12 block rounded-4 bg-x3368 text-center overflow-hidden relative">
              <em class="text-14 not-italic relative z-1"><%- name %></em>
            </a>
          </li>
        <% } -%>
      </ul>
    </div>
    <div class="tab-bd mt-24">
      <ul class="space-y-16">
        <%
          datas = [[{
            name: {
              text: 'Date',
              color: 'text-x88a1'
            },
            value: {
              text: '08/02/2021',
            }
          }, {
            name: {
              text: 'Remark',
              color: 'text-x88a1'
            },
            value: {
              text: 'Betting'
            }
          }, {
            name: {
              text: 'Winlose',
              color: 'text-x88a1'
            },
            value: {
              text: '2.65'
            }
          }, {
            name: {
              text: 'Commission',
              color: 'text-x88a1'
            },
            value: {
              text: '0.00'
            }
          }, {
            name: {
              text: 'Running Total',
              color: 'text-x88a1'
            },
            value: {
              text: '2.65'
            }
          }, {
            name: {
              text: 'Running Total',
              color: 'text-x88a1'
            },
            value: {
              text: '1,184.75'
            }
          }], [{
            name: {
              text: 'Date',
              color: 'text-x88a1'
            },
            value: {
              text: '08/02/2021',
            }
          }, {
            name: {
              text: 'Remark',
              color: 'text-x88a1'
            },
            value: {
              text: 'Betting'
            }
          }, {
            name: {
              text: 'Winlose',
              color: 'text-x88a1'
            },
            value: {
              text: '-24.40',
              color: 'text-xf25c'
            }
          }, {
            name: {
              text: 'Commission',
              color: 'text-x88a1'
            },
            value: {
              text: '0.00'
            }
          }, {
            name: {
              text: 'Running Total',
              color: 'text-x88a1'
            },
            value: {
              text: '-24.40',
              color: 'text-xf25c'
            }
          }, {
            name: {
              text: 'Running Total',
              color: 'text-x88a1'
            },
            value: {
              text: '1,159.10'
            }
          }]]
        -%>
        <% for( let i = 0; i < datas.length; i += 1 ) { -%>
          <li>
            <%- require('component/mListData.ejs')({
              item: datas[i]
            }) %>
          </li>
        <% } -%>
      </ul>
    </div>
  </div>
</div>