<div class="mt-64 data-cnt">
  <header class="py-16 text-center bg-x0030">
    <h2 class="text-xf">
      <strong class="text-24">Change Password</strong>
    </h2>
  </header>
  <form method="POST" action="<%- urlFuns.page('account', 'profile') %>" class="py-48 bg-x1241">
    <ul class="mx-auto space-y-32 w-6/12">
      <%
        const form = [{
          title: 'Current Password',
          formType: 'password',
          classCtrl: 'jCurrPas',
          validate : `{'req': 'This field is required.', 'password': {'min': 6, 'max': 20, 'msg': 'Password must contain $min - $max more characters with a mix of letters number.'}}`
        }, {
          title: 'New Password',
          formType: 'password',
          classCtrl: 'jNewPas',
          validate : `{'req': 'This field is required.', 'password': {'min': 6, 'max': 20, 'msg': 'Password must contain $min - $max more characters with a mix of letters number.'}, 'different': {'elem': '.jCurrPas', 'msg': 'New password must not be the same as old password.'}}`
        }, {
          title: 'Confirm Password',
          formType: 'password',
          classCtrl: 'jConfPas',
          validate : `{'req': 'This field is required.', 'same': {'elem': '.jNewPas', 'msg': 'Confirm password must be the same as new password.'}}`
        }]
      -%>
      <% for( let i = 0; i < form.length; i += 1 ) { -%>
        <% const { title, formType, classCtrl, validate } = form[i]; -%>
        <li class="flex">
          <b class="w-1/4 leading-32 text-right text-xf"><%- title %></b>
          <div class="m-form ml-32 flex-grow jForm">
            <div class="m-form-item">
              <div class="m-form-elem">
                <% if ( formType !== 'checkbox' && formType !== 'radio' && formType !== 'select' && formType !== 'textarea' ) { %>
                  <input type="<%- formType %>" class="m-form-type <%- classCtrl %>"<%- validate ? ` :validate="${validate}"` : '' %>>
                <% } -%>
              </div>
            </div>
            <span class="m-form-error jFormError"></span>
          </div>
        </li>
      <% } -%>
      <li>
        <div class="px-28 py-16 bg-x3368 rounded-8 overflow-hidden">
          <div class="mb-8">
            <b class="text-xf">Password Policy</b>
          </div>
          <div class="m-item">
            <ul class="m-item-bd space-y-4 text-xf-70">
              <li label="-">
                <p>Password must contain 6-20 more characters with a mix of letters number</p>
              </li>
              <li label="-">
                <p>New password must not be the same as old password</p>
              </li>
              <li label="-">
                <p>Confirm password must be the same as new password</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="text-center">
        <button type="submit" class="m-btn --green jSubmit">
          <b class="px-20 block">Change Password</b>
        </button>
      </li>
    </ul>
  </form>
</div>