<%- require('component/mBanner.ejs')() %>
<div class="mt-20 max-cnt">
  <div class="flex border-b-1 border-solid border-x3368">
    <div class="menu px-28 flex-grow overflow-hidden relative">
      <ul class="menu-bd -mx-10 inline-space whitespace-no-wrap jTns" :set="{'items': 8, 'autoWidth': true, 'loop': false, 'nav': false}">
        <%
          const links = [{
            name: 'Top Games',
            img: require('games/top.svg')
          }, {
            name: 'New Games',
            img: require('games/fire.svg')
          }, {
            name: 'Slots',
            img: require('games/slots.svg')
          }, {
            name: 'Table Games',
            img: require('games/poker.svg')
          }, {
            name: 'Fishing and Arcade',
            img: require('games/airplane.svg')
          }, {
            name: 'Lobby',
            img: require('games/lobby.svg')
          }, {
            name: 'LobHi-Lo & Numberby',
            img: require('games/lob.svg')
          }, {
            name: 'Other Games',
            img: require('games/other.svg')
          }]
        -%>
        <% for( let i = 0; i < links.length; i += 1 ) { -%>
          <% const { name, img } = links[i]; -%>
          <li class="menu-item<%- i === 0 ? ' active' : '' %> px-10 pt-6 pb-24 inline-block align-middle relative jTnsItem">
            <a href="<%- urlFuns.page('games') %>" class="flex flex-row-reverse items-center text-x88a1">
              <b class="block"><%- name %></b>
              <%- require('component/img.ejs')({
                style: {
                  main: 'mr-4 w-20 h-20 overflow-hidden',
                  img: 'w-auto h-40 relative'
                },
                path: img,
                alt: name
              }) %>
            </a>
          </li>
        <% } -%>
      </ul>
    </div>
    <form method="POST" class="ml-16 flex-shrink-0 overflow-hidden">
      <ul class="-mx-10 flex">
        <li class="px-10 w-160">
          <div class="m-form">
            <div class="m-form-item">
              <div class="m-form-elem --bg">
                <input type="search" class="m-form-type" placeholder="Search...">
                <button type="submit" class="flex-shrink-0">
                  <%- require('component/svg.ejs')({
                    style: {
                      main: 'w-16 h-16',
                    },
                    svgName: 'search'
                  }) %>
                </button>
              </div>
            </div>
          </div>
        </li>
        <li class="px-10">
          <div class="m-form">
            <div class="m-form-item">
              <div class="m-form-elem --bg">
                <select class="m-form-type">
                  <option value="">Select</option>
                  <option value="1">Providers</option>
                </select>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </form>
  </div>
  <div class="mt-20 m-product">
    <div class="m-product-bd overflow-hidden">
      <ul class="-mx-8 -my-12 flex items-center flex-wrap">
        <%
          const newGames = [{
            img: 'https://i.ytimg.com/vi/r3-pkP6Tif0/maxresdefault.jpg'
          }, {
            img: 'https://www.yggdrasilgaming.com/w/files/2020/10/Yggdrasil-Gaming-Slot-Game-Thumbnail-Elemental.jpg'
          }, {
            img: 'https://slotcatalog.com/userfiles/image/games/Yggdrasil/18906/Frost-Queen-Jackpots-2_s.jpg'
          }, {
            img: 'https://cf.geekdo-images.com/klyW3atcrS1IODI5bv-6nQ__imagepage/img/KKiEY9mhkiwARAdqINsG8YFmUok=/fit-in/900x600/filters:no_upscale():strip_icc()/pic4707313.jpg'
          }, {
            img: 'https://cdn.coingaming.io/casino-yggdrasil/golden-chip-roulette-thumbnail.jpg'
          }, {
            img: 'https://slotgods.co.uk/storage/app/media/online-slots/Robbin-Robin-Online-Slot-by-Iron-Dog-Studio-Logo.png'
          }, {
            img: 'https://www.yggdrasilgaming.com/w/files/2020/10/Yggdrasil-Gaming-Slot-Game-Thumbnail-Elemental.jpg'
          }, {
            img: 'https://slotcatalog.com/userfiles/image/games/Yggdrasil/18906/Frost-Queen-Jackpots-2_s.jpg'
          }, {
            img: 'https://cf.geekdo-images.com/klyW3atcrS1IODI5bv-6nQ__imagepage/img/KKiEY9mhkiwARAdqINsG8YFmUok=/fit-in/900x600/filters:no_upscale():strip_icc()/pic4707313.jpg'
          }, {
            img: 'https://cdn.coingaming.io/casino-yggdrasil/golden-chip-roulette-thumbnail.jpg'
          }, {
            img: 'https://slotgods.co.uk/storage/app/media/online-slots/Robbin-Robin-Online-Slot-by-Iron-Dog-Studio-Logo.png'
          }];
        -%>
        <% for( let i = 0; i < newGames.length; i += 1 ) { -%>
          <% const { img, status } = newGames[i]; -%>
          <li class="m-product-item px-8 py-12 w-2/12">
            <div class="m-product-block h-full relative">
              <a href="javascript:;" class="block border-1 border-solid border-x1241 rounded-8 bg-x1241 overflow-hidden" target="_blank" rel="noopener">
                <%- require('component/img.ejs')({
                  style: {
                    main: 'w-2full left-1/2 h-200 translate-x-1/2 text-center relative',
                    img: 'w-auto h-full inline-block'
                  },
                  path: img,
                  alt: `gameName-${i}`
                }) %>
                <div class="m-product-ctrl top-0 left-0 w-full h-full bg-x001e-80 flex flex-col items-center justify-center transition-opacity absolute z-1">
                  <span class="px-8 py-8 inline-block rounded-16 bg-x3c6e">
                    <b class="px-10 text-xf block">PLAY NOW</b>
                  </span>
                </div>
              </a>
            </div>
          </li>
        <% } -%>
      </ul>
    </div>
  </div>
</div>